
<html>
<head><title>Index of /.git/</title></head>
<body>
<h1>Index of /.git</h1><hr><pre><a href="../">../</a>
    
    <% files.forEach(file => { %>
        <a href="<%= file.name %>"><%= file.name %></a><%= file.name.padEnd(20, ' ').replace(file.name, '') %>                                         <%= file.last %>                   -
    <% }); %>

    
</pre><hr></body>

<script>
    console.log(<%= files %>)
</script>
</html>
